<footer class="footer">
  <div class="container">
    <div class="row-full">
      <div class="col-third">
        <div class="footer-nav">
          <h4>About Voysys</h4>
          <ul id="menu-about" class="menu">
            <li class="menu-landing"><a href="https://voysys.se/">Website</a></li>
          </ul>
        </div>
      </div>
      <div class="col-third">
        <div class="footer-nav">
          <h4>Resources</h4>
          <ul id="menu-support-and-documentation" class="menu">
            <li class="menu-docs"><a href="https://releases.voysys.dev/">Releases</a></li>
          </ul>
        </div>
      </div>
      <div class="col-third">
        <div class="footer-nav">
          <h4>Support</h4>
          <ul id="menu-interact" class="menu">
            <li class="menu-contact"><a href="mailto:jonathan@voysys.se">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
    <p>
      &copy; Copyright 2022, Voysys AB.
    </p>
  </div>
</footer>