footer.footer {
  font-size: 0.85rem;
  background-color: var(--navbar-background);
  color: #8e8e8e;
  padding: 0.5rem 1rem;
}

.footer p {
  margin: 0.5rem 0;
}

.footer a {
  color: #5d5d5d;
}

.footer-nav h4 {
  color: #fff;
  font-weight: normal;
}

.footer-nav ul li a {
  color: #aaa;
}

footer {
  overflow: auto;
}

footer div.container p {
  text-align: center;
  margin-top: 20px;
}

footer div.container div.row-full {
  margin: 0 auto;
  margin-left: 3%;
  width: 100%;
  clear: both;
  float: left;
}

footer div.container div.row-full div.col-third {
  float: left;
  width: 33%;
}

@media screen and (max-width: 600px) {
  footer div.container div.row-full {
    margin-left: 0;
    width: 100%;
  }

  footer div.container div.row-full div.col-third {
    width: 50%;
    margin: 0 auto;
    float: none;
  }
}

@media screen and (min-width: 601px) {
  footer div.container div.row-full {
    margin-left: 0;
    width: 100%;
  }

  footer div.container div.row-full div.col-third {
    width: 33%;
    margin: 0 auto;
  }
}
